<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Usd </h1>
    </div>
    <div class="panel-body">
  
  
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>usd</th>
                    <th>usd</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>{{currency | json}}</td>
                    <td>{{currency}}</td>
                    <td><button class="btn btn-outline-info btn-sm" (click)="getCurrency()">getCurrency</button></td>   
                </tr>
            </tbody>
        </table>
    </div>
  </div>